@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root {
    --main-color: #15a100;
    --second-color: #000000;
    --text-color:  #07460d;
    --bg-color: #fff;
    --bg-color2: #858585;
    --box-shadow : 2px 2px 10px 4px rgb(14 55 54/ 15%);
}
header{
    position: fixed;
    width: 100%;
    background-color: var(--text-color);
}
li{
    list-style: none;
}
a{
    color: var(--bg-color);
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.nav-logo img{
    width: 70px;
    margin-left: 70px;
}
.nav-link{
    padding: 8px 17px; 
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.2s ease-in;
}
.nav-link:hover{
    background: var(--main-color);
    border-radius: 0.2rem;
}
.nav-link1{
    padding: 8px 17px; 
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.2s ease-in;
    background: var(--main-color);
    border-radius: 0.2rem;
}
.nav-link1:hover{
    background: none;
}    
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
    background-color: var(--bg-color);
}
.header-icon {
    font-size: 25px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
    margin-right: 70px;
}
.header-icon .bx{
    color: var(--bg-color);
}
.header-icon .bx:hover {
    color: var(--main-color);
}
@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -1000px;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--text-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}
.contact-bg{
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(img/mak2.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: var(--main-color);
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: var(--main-color);
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
    margin-left: 67px;
    margin-right: 67px;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: var(--main-color);
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    /* border: 1px solid var(--bg-color2); */
    padding: 30px;
    /* margin-left: 67px; */
    /* margin-right: 67px; */
}
.contact-form form{
    padding-bottom: 1rem;
    margin-left: 80px;
    margin-right: 80px;
}
.form-control{
    width: 100%;
    border: 1.5px solid var(--bg-color2);
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: var(--box-shadow);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--bg-color);
    background: var(--main-color);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.send-btn:hover{
    background: var(--text-color);
    color: var(--second-color);
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: var(--text-color);
}
.contact-footer h3{
    font-size: 1.35rem;
    color: var(--bg-color);
    margin-bottom: 1rem;
    text-align: center;
}
@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}
@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}
footer{
    background-color: var(--text-color);
    position: relative;
    width: 100%;
    padding: 10px 10px;
}
.footer-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col{
    min-width: 250px;
    color: var(--bg-color);
    padding: 0 2rem;
}
.col img{
    width: 70px;
    margin-bottom: 15px;
}
.col p{
    font-size: 14px;
    color: var(--bg-color);
    font-weight: 500;
    text-align: justify;
}
.col h3{
    color: var(--main-color);
    margin-bottom: 7px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height: 3px;
    width: 0px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.col h3:hover::after{
    width: 50px;
}
.col .social a i{
    color: var(--bg-color);
    margin-top: 1rem;
    margin-right: 5px;
    transition: 0.3s ease;
    font-size: 2rem;
}
.col .social a i:hover{
    transform: scale(1.5);
    color: #15a100;
}
.col .link a{
    display: block;
    text-decoration: none;
    color: var(--bg-color);
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}
.col .link a::before{
    content: '';
    height: 20px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: var(--main-color);
    transition: 0.5s ease;
    opacity: 0;
}
.col .link a:hover::before{
    opacity: 1;
}
.col .link a:hover{
    transform: translateX(8px);
    color: var(--main-color);
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
}
.col .contact-details i{
    margin-right: 10px;
}
.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.row .form input{
    background-color: var(--bg-color);
    border: 0;
    outline: none;
    padding: 14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form button{
    padding: 14px 20px;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--bg-color2);
}
@media(max-width:900px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}
@media(max-width:900px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}
@media(max-width:900px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}
@media(max-width:900px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}
@media(max-width:768px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
}
.map{
    padding: 0 30px;
    margin-left: 67px;
    margin-right: 67px;
}